doctype html
html
  head
    title= title
    script(src='https://unpkg.com/react@15/dist/react.min.js')
    script(src='https://unpkg.com/react-dom@15/dist/react-dom.min.js')
    script(src='./javascripts/bundle.js')
  body
    block content
